# https://editorconfig.org
root = true

[*.{kt,kts}]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
ktlint_function_naming_ignore_when_annotated_with = Composable

[*.xml]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Disable copyright headers for ALL XML files
[app/src/main/res/**/*.xml]
ij_formatter_off = true
